/**********************************************  GENERAL  **********************************************/
html{
height: 100%;
}

body{
    width: 100%;
    /*background: url(img/plante11.png);*/
    background-color: #fff!important;
    background-size: cover;
    margin: 0!important;
    padding:0;
    height: 100%!important;
    width: 100%;
}

h1{
    text-align: center;   
}

#global
{
  width :80% ;
  margin :auto ;
  padding :25px ;
  background :#3c3c3c ;
}

.titre{
  font-size: 6.5vh;
  color: #505050;
}
/**********************************************   Button  **********************************************/
a {
  font: 12px Helvetica;
  font-weight: bold;
  color: white;
  -webkit-border-box: 0 1px 0 0 white;
  border-bottom: 3px solid transparent;
  
}

/**********************************************   Boutique de plante CONTENT  **********************************************/

#boutiqueBlock{
  text-align: center;
}

.box-plant{
  background-color: #eeeeee;
  width: 100%;
  -ms-flex: 10%; /* IE10 */
  max-width: 45vh;
  padding: 0 4px;
  margin-bottom: 5vh;
  display: inline-grid;
  margin-right: 3.3vh;
}

.imgPlante{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 45vh; 
  transition: transform .2s;
  display: flex;
  flex-wrap: nowrap;
}

.plant-name {
  font-weight: 500;
  font-size: 30px;
}

.box-plant:hover {
  -ms-transform: scale(1.035); /* IE 9 */
  -webkit-transform: scale(1.035); /* Safari 3-8 */
  transform: scale(1.035); 
}

.plant-price {
  font-size: 15px;
}

.imgPlantePanier{
  width: 100%;
  height: 100%; 
}

.box_panier{
  width: 45%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}

.buttonModal{
  cursor: pointer;
  text-align: right;
  color: #00bd6e!important;
  display: flex;
  flex-direction: column;
}

#searchPlante{
width: 20%;
text-align: center;
margin: 5vh;
}

#blockSearch{
display: flex;
align-items: center;
justify-content: center;
}
/**********************************************   LOGIN   **********************************************/

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}
/* fond blanc login*/
.formulaire_conn {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}    
 
  /**********************************************   PANIER   **********************************************/
  .blockPanier{
    background-color: #e2dfdf;
    /*width: 65%;
    margin: auto;*/
  }

  .btnAddpanier{
    color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #6cbe7e;
	padding: 14px;
	border: 3px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
  margin: 0px 5px 10px 10px;
  border-radius: 10px;
}

.btnAddpanier:hover {
	color: #757575 !important;
	background: #00daa3;
	border-color: #00bd6e !important;
	transition: all 0.4s ease 0s;
  cursor: pointer;
  text-decoration: none;
}

#titleBarPanier{
  background-color: rgb(75, 74, 74);
  justify-content: space-around;
  color: white;
  text-align: center;
}
  
/**********************************************   MON COMPTE   **********************************************/

.formulaire {
  width: 50%;
  padding: 30px;
}
.content1 {
  padding-left: 33%;
}

/**********************************************   NAVBAR   **********************************************/

.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .box-plant{
    margin-right:0;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .box-plant{
    margin-right:0;
  }
}
